.container{
    height: 600px;
    width: 600px;
    background-color: powderblue;
    border: 2px solid black;
}
img{
    width: 600px;
    height: 600px;
    object-fit: cover;
    /* object-fit: contain; */
    /* object-fit: scale-down; */
    /* object-position: top left; */
    object-position: 50% 50%;

}