nav{
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.right ul{
    display: flex;
    gap: 35px;
}
.right ul li{
    list-style: none;
    display: flex;
    align-items: center;
    gap: 6px;
    cursor: pointer;
}
.right img{
    width: 12px;
    height: 12px;
}