.container{
    position: relative;
    background-color: blue;
    height: 87vh;
    width: 87vw;
}
.box{
    height: 121px;
    width: 121px;
    background-color: red;
    position: absolute;
    bottom: 0;
    left: 0;
    border-radius: 70px;
    animation: anix 3s linear infinite ,aniy 1s ease-out infinite alternate-reverse;
    /* animation: name duration timing-function delay iteration-count direction fill-mode; */
}
@keyframes anix {
    from{
        left: 0;
    }
    to{
        left: 80vw;

    }
    
}
@keyframes aniy {
    from{
        bottom: 0;
    }
    to{
        bottom: 70vh;
    }
    
}